:root {
    --color-primary: #F4A261;
    --color-secondary: #E9C46A;
    --color-tertiary: #F4A261;
    --color-dark: #264653;
    --color-light: #E76F51;
    --color-brown-dark: #3D2B1FD8;
    --color-gray: #707070;
    --color-gray--light: #f5f5f5;
    --color-black: #000000;
    --color-red: #FF0000;
    --color-white: #ffffff;
    --color-grey--light: #d2d6da;
    --color-orange: #FFA500FF;
    --color-orange--light: #ffe5b4;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-gray--light);
    color: var(--color-black);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}


.custom-border, .custom-border:focus, .custom-border:active, .custom-border:focus-visible {
    border: 1px solid var(--color-grey--light) !important;
}

.custom-border-dark, .custom-border-dark:focus, .custom-border-dark:active, .custom-border-dark:focus-visible {
    border: 1px solid var(--color-black) !important;
}


.bg-image {
    background-image: url('../prueba.jpg');
    background-size: cover;
    background-position: center;
}

.bg-none {
    background: none;
}

.border-none {
    border: none;
}

.simple-border {
    border: 2px dotted var(--color-gray);
    padding: .5rem;
    border-radius: .75rem;
}

.fs-7 {
    font-size: 0.875rem !important;
}

.fs-8 {
    font-size: 0.75rem !important;
}

.fs-9 {
    font-size: 0.625rem !important;
}

.eye-password {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 60%;
    transform: translateY(-50%);
}

.bg-color-primary {
    background-color: var(--color-primary);
}

.bg-color-secondary {
    background-color: var(--color-secondary);
}

.bg-color-tertiary {
    background-color: var(--color-tertiary);
}

.bg-brown-dark {
    background-color: var(--color-brown-dark);
}

.bg-black {
    background-color: var(--color-black);
}

.bg-gray {
    background-color: var(--color-gray--light);
}

.fc-black {
    color: var(--color-black);
}

.fc-red {
    color: var(--color-red);
}

.fc-white {
    color: var(--color-white);
}

.custom-title-white {
    text-shadow: 2px 2px 4px var(--color-primary);
}

.input-dark {
    background-color: #3D2B1F;
    color: white;
    border: none;
}

.input-dark::placeholder {
    color: #bbbbbb;
}

@media (max-width: 768px) {
    .bg-image {
        clip-path: none;
        transform: none;
    }
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.dropdown-toggle::after {
    display: none !important;
}

.grafico-container {
    width: 30%;
    height: 300px;
    border: 2px solid black;
    border-radius: 15px;
    overflow: hidden;
    top: 20px;
    left: 20px;
    background-color: white;
}

.background-receta {
    background-image: url('../asado.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2rem;
}

.background-compras {
    background-image: url('../compras.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2rem;
}

.radius-sm {
    border-radius: 0.25rem;
}

.radius-md {
    border-radius: 0.5rem;
}

.radius-lg {
    border-radius: 1rem;
}

.radius-left-lg {
    border-radius: 1rem 0 0 1rem !important;
}

.radius-right-lg {
    border-radius: 0 1rem 1rem 0 !important;
}

.radius-left-md {
    border-radius: 0.5rem 0 0 0.5rem !important;
}

.radius-right-md {
    border-radius: 0 0.5rem 0.5rem 0 !important;
}

.chart-container {
    border: 2px solid var(--color-gray);
    border-radius: 15px;
    padding: 20px;
    background-color: var(--color-white);
    margin: 10px;
}

.chart-row {
    display: flex;
    justify-content: space-between;
}

.chart-6 {
    width: 48%;
}

.full-width {
    width: 98.5%;
}

.background-index {
    background-image: url('../FondoIndex.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 2rem;
    min-height: 100vh;
}

#userinfo {
    background-color: unset !important;
}
